/* @import url("https://fonts.googleapis.com/css?family=Abel|Chakra+Petch|Orbitron&effect=3d-float"); */
@import url("https://fonts.googleapis.com/css?family=Righteous|VT323");

body {
  /* background-image: linear-gradient(
    to right bottom,
    #48f0d3,
    #00d9ea,
    #00befd,
    #009eff,
    #4577eb
  ); */
  /* background: url("./images/tomato.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: hue; */
  background: #feedd3;
  font-family: "Righteous", sans-serif;
}
* {
  padding: 0;
}
h4,
h1,
h2,
h3 {
  margin: 0;
}
button {
  outline: none;
  border: none;
  background: transparent;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  color: inherit;
  margin: auto 40px;
  border-radius: 5px;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
  /* background-image: linear-gradient(
    to right bottom,
    #48f0d3,
    #00d9ea,
    #00befd,
    #009eff,
    #4577eb
  ); */
  padding: 0;
}
.app {
  color: #ec3f3e;
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;

  min-width: 300px;
}
.title {
  margin-bottom: 20px;
}
.length {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 24px;
  justify-content: space-around;
  padding: 15px 8px;
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.178) */
}
.length .length-controls {
  font-size: inherit;
}
.length button {
  background: rgba(240, 140, 164, 0.2);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.length button:hover,
.length button:focus {
  background: #cb3837;
  color: #feedd3;
}
.length .length-controls #break-length,
.length .length-controls #session-length {
  display: inline-block;
}
#break-label,
#session-label {
  padding: 10px;
}
#break-length,
#session-length {
  min-width: 45px;
}

.timer {
  border: 5px solid #ec3f3e;
  margin: 10px auto;
  width: 200px;
  height: 100px;
  position: relative;
  border-radius: 15px;
  text-transform: uppercase;
}

.timer .timer-wrapper {
  position: absolute;
  width: 190px;
  height: 110px;
  left: 50%;
  top: 50%;
  margin-left: -95px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-controls button {
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  border-radius: 15px;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin: 40px;
  font-size: 1em;
}

@media (max-width: 900px) {
  body {
    overflow: hidden;
    font-size: 0.7em;
  }
  * {
    margin: 0;
    padding: 0;
  }
  #root {
    font-size: 20px;
    height: 100vh;
  }
  button,
  .timer-controls button {
    margin: auto 20px;
  }
  h1 {
    font-size: 1em;
  }
}

@media (max-width: 580px) {
  body {
    overflow: scroll;
  }
  #root {
    overflow: scroll;
    min-height: 100vh;
    height: auto;
  }
}
